auto-install-peers=true
shamefully-hoist=false
strict-peer-dependencies=false
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=unrs-resolver
